@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>JPV Technology & Innovation</h1>
    <p>
        Automação inovadora para negócios digitais
        Provendo soluções de arquitetura de informação, sistemas e infraestrutura focadas no negócio da sua empresa.
    </p>
    <br />

    <img src="./txt_logo.png"  width="200" height="200"/>
</div>
